# LAB | Two sample hypothesis test

### Import libraries here:

In [ ]:
# Your code here

In [1]:
import numpy as np
import pandas as pd

# Exploring the data

- In this LAB, we will examine all salaries of employees of the City of Chicago. 
- We will start by loading the dataset and examining its contents.
- Read the `Employees_advanced.csv` dataset and store in a variable called `salaries`

In [2]:
# Your code here

In [3]:
salaries = pd.read_csv('data/Employees_advanced.csv')

- Examine the dataset using the `head` function.

In [4]:
# Your code here

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

- The column `Salary or Hourly`  indicate two types of employees: salary and hourly.
- Count how many employees are `salary` and `hourly`.

In [6]:
# Your code here

In [7]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

- There are different `departments` in the city. 
- List all departments and the count of employees in each department.

In [8]:
# Your code here

In [9]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Hypothesis tests

- In this section of the lab, we will test if the hourly wage of all hourly workers is significantly different from \$30/hr.
- Perform the hypothesis test for a 95% two sided confidence interval.
- Our null hypothesis is that the mean hourly wage of all hourly workers is \$30/hr.
> - Use `salaries` dataset and filter the rows with `Hourly` values.  
> - Use the `ttest_1samp`

```python
from scipy.stats import ttest_1samp
```

In [10]:
# Your code here

In [11]:
from scipy.stats import ttest_1samp

In [12]:
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']

In [13]:
stat, pval = ttest_1samp(salaries_hourly['Hourly Rate'], 30)
print(pval)
if pval > 0.025 and pval < 0.975:
    print('Accept the null hypothesis')
else:
    print('Reject the null hypothesis')

4.3230240486229894e-92
Reject the null hypothesis

- We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of \$86000/year a year for all salaried employees. 
- Test this one sided hypothesis using a 95% confidence interval.
> - Filter only rows with `Salary` in the `Salary or Hourly` column and `POLICE` in the `Department` column.
> - Use the `ttest_1samp`

```python
from scipy.stats import ttest_ind
```

In [ ]:
# Your code here

In [ ]:
from scipy.stats import ttest_ind

In [14]:
salaries_police = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]

In [15]:
ttest_1samp(salaries_police['Annual Salary'], 86000)
if pval > 0.05:
    print('Accept the null hypothesis')
else:
    print('Reject the null hypothesis')

Reject the null hypothesis

# Confidence Intervals
- While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. 
- A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
- In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

```python
from scipy.stats import t
t.interval(confidence_level, df=degree_of_freedom, loc=location_parameter, scale=standard_error)
```

To compute the confidence interval of the hourly wage use:
> - `0.95` for the confidence level
> - Number of `rows - 1` for degrees of freedom 
> - The `mean` of the sample for the location parameter
> - The `standard error for` the scale 
The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here

In [16]:
from scipy.stats import t

In [17]:
salaries_hourly_rate = salaries.loc[(salaries['Salary or Hourly'] == 'Hourly'), 'Hourly Rate']
confidence_level = 0.95
degree_of_freedom = len(salaries_hourly_rate)-1
location_parameter = salaries_hourly_rate.mean()
standard_error = salaries_hourly_rate.sem()

In [18]:
t.interval(confidence_level, df=degree_of_freedom, loc=location_parameter, scale=standard_error)

(32.52345834488529, 33.05365708767727)

- Now construct the 95% confidence interval for all salaried employees in the police in the cell below.

In [ ]:
# Your code here

In [19]:
salaries_anual_police = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary']
confidence_level = 0.95
degree_of_freedom = len(salaries_anual_police)-1
location_parameter = salaries_anual_police.mean()
standard_error = salaries_anual_police.sem()

In [20]:
t.interval(confidence_level, df=degree_of_freedom, loc=location_parameter, scale=standard_error)

(86177.05631531785, 86795.77269094893)

# Bonus -  Hypothesis Tests of Proportions

- Another type of one sample test is a hypothesis test of proportions. 
- In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 
- You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).
- In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.
```python
from statsmodels.stats.proportion import proportions_ztest
```

In [ ]:
# Your code here

In [21]:
from statsmodels.stats.proportion import proportions_ztest

In [22]:
stat, pval = proportions_ztest(count=salaries['Salary or Hourly'].value_counts()[1], nobs=salaries.shape[0], value=0.25)

In [23]:
stat

-3.5099964213703005

In [24]:
pval

0.0004481127249057967